.blogCard {
  max-width: 550px;
  margin-bottom: 100px;
}
.blogCard:hover {
  transform: scale(1.01, 1.01);
  cursor: pointer;
}
.blogCard img {
  max-width: 550px;
}
.blogCard .blog-des {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
  width: 100%;
}
.blogCard .blog-des h1,
.blogCard .blog-des h4 {
  color: #243671 !important;
}
.blogCard .blog-des h1 {
  font-weight: 600;
  font-size: 35px;
}
.icons-share {
  max-width: 250px !important;
  justify-content: space-around;
  margin-top: 20px !important;
  align-items: center;
}
.icons-share h4 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .blogCard {
    max-width: 300px;
  }
  .blogCard img {
    max-width: 300px;
  }
  .blogCard .blog-des h1 {
    font-size: 25px;
  }
}
