.site-header {
  padding: 26px 0;
  width: 100%;
  z-index: 99999999999999;
}

.site-header .main-triger button {
  border: 2px solid #243671;
  font-size: 15px;
  letter-spacing: 0.31px;
  height: 40px;
  border-radius: 22px;
  padding: 8px 15px;
  padding-left: 21px;
  padding-bottom: 9px;
  padding-top: 7px;
  min-width: 160px;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s, 0.3s ease-in-out;
  background-color: #fff;
  display: inline-block;
  color: #243671;
  text-align: left;
  padding-bottom: 9px;
  padding-top: 7px;
  cursor: pointer;
  font-weight: 500;
}

.site-header .main-triger button:hover {
  background-color: #243671;
  color: white;
}

.site-header .main-text h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #243671 !important;
}

.site-header .header-icon img {
  max-width: 100px;
}

.menu-wrapper {
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: #243671;
  z-index: 99999999999999;
  width: 0%;
  opacity: 0;
  transition: all 0.2s, 0.3s ease-in-out;
}

.menu-header {
  padding: 26px 0;
  padding-top: 100px;
}
.main-menu {
  padding-top: 50px;
  padding-bottom: 50px;
}
.menu-close-triger .close-menu-triger {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.menu-close-triger .close-menu-triger img {
  max-width: 35px;
}
.main-text-menu h1 {
  color: white;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.main-menu ul li {
  list-style: none;
  margin-bottom: 5px;
}
.menu-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-menu ul li button {
  cursor: pointer;
  border: 2px solid #fff;
  font-size: 15px;
  letter-spacing: 0.31px;
  height: 40px;
  border-radius: 22px;
  padding: 7px 15px;
  padding-left: 21px;
  padding-bottom: 9px;
  padding-top: 7px;
  min-width: 160px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s, 0.3s ease-in-out;
  display: inline-block;
  background-color: transparent;
  font-weight: 500;
}
.main-menu ul li button:hover {
  background-color: white;
  color: #243671;
}
.menu-tagline {
  margin-top: 20px;
  max-width: 135px;
}
.menu-tagline h2 {
  color: #fff;
  margin: 0;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 1.3px;
  text-transform: capitalize;
}
.menu-footer-login {
  text-align: right;
  margin-top: 60px;
}
.menu-footer-login h2 a {
  color: #fff !important;
  margin: 0;
  font-size: 25px;
  line-height: 26px;
  letter-spacing: 1.3px;
  text-transform: capitalize;
  cursor: pointer;
}
.main-triger .main-div {
  text-align: right;
}
.menu-footer {
  padding-bottom: 100px;
}
.section-padding-2 {
  padding-top: 60px;
}
@media (max-width: 768px) {
  /* .menu-header{
    padding-top: 70px;
  } */
  .menu-content{
    padding-top: 0px;
  }
  .main-menu {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .site-header .header-icon img {
    max-width: 60px;
  }
  .main-triger {
    flex-grow: 0;
  }
  .main-text {
    flex-grow: 0;
  }
  .main-text h1 {
    font-size: 0 !important;
  }
  .menus-wrapper .menu-content {
    height: calc(100vh - 98px);
  }
  .main-triger button {
    width: 25px !important;
    height: 25px !important;
    border-radius: 4px !important;
    border: 2px solid #243671;
    min-width: unset !important;
    max-width: 25px !important;
    padding: 2px !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center;
    align-items: center;
  }
  .main-triger button:hover span {
    background-color: white !important;
  }
  .main-triger button span {
    width: 13px;
    height: 2px;
    position: relative;
    background-color: #243671;
    font-size: 0;
    color: transparent;
    display: inline-block;
  }
  .site-header .main-triger button span:before {
    top: -4px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #243671;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .site-header .main-triger button span:after {
    bottom: -4px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #243671;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .menus-wrapper .menu-content {
    height: calc(100vh - 98px);
  }
  .menus-wrapper .menu-footer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 30px;
  }
}
