.card{
  border-color: #52b9d3;
    border-radius: 0 !important;
    border-width: 2px;
}
.card-header {
  border-color: #52b9d3;
  border-bottom: none;
  box-shadow: none;
  padding: 0;
  background: transparent;
  margin-bottom: -1px;
}
.card-header h2 {
  color: #52b9d3;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.76px;
  text-transform: uppercase;
  padding-left: 38px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  min-height: 60px;
}
.card-header h2 span {
  width: calc(100% - 50px);
}


.card-header,
.active h2 {
  background: #52b9d3 !important;
  color: white;

}
.accordion__icon {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  transition: transform 0.6s ease;
}

.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}